html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

div {
  margin: 0;
  padding: 0;
}

html a {
  text-decoration: none;
  border-width: 3px;
  border-radius: 8px;
  padding: 0.4em;
}

.btn {
  display: inline-block;
  margin: 0.4em;
  font-size: 1.125rem;
  background-color: #333;
  color: #fff;
  padding: 0.4em;
}

.btn-small {
  font-size: 0.875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
  border-width: 3px;
  border-color: #000;
  border-style: solid;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}

.btn:hover {
  background-color: #000;
}

.btn-small:hover {
  background-color: #000;
}

.btn-big:hover {
  background-color: #000;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
  border-color: #666;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}
